@{
    ViewData["Title"] = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@foreach (var x in Model)
{


    <div class="align-items-md-center"> <h1>@x.Name</h1>

   <img width="300px" height="500px"  title=" " alt=" " src="/images/@x.ImageUrl" />

   <p><b>Descripton:</b></p> 
    <p>@x.Description</p>
    </div>
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>PRICE</th>
            <th>STOCK</th>
        </tr>
    
        <tr>
            <th>@x.Id</th>
            <th>@x.Name</th>
            <th>@x.Price</th>
            <th>@x.Stock</th>
        </tr>
    </table>
}